<header>
    <nav>
        <div class="logo">
            <img src="ticket_logo.png" alt="ShowHouse Logo" class="logo-image">
            <span class="logo-text">ShowHouse</span>
        </div>
    
        <div class="nav-links">
            <a href="#" class="active">Home</a>
            <a href="/ShowHouse/AllMovies/index.html">Movies</a>
            <a href="#">Concerts</a>
        </div>

        <div class="icons">
            <button class="icon" id="searchIcon"><img src="search.png" alt="search Logo"></button>
            <button class="icon" id="locationIcon"><img src="location.png" alt="location Logo"></button>
            <a href="/ShowHouse/loginAndSignup/login.html">
                <button class="icon"><img src="man.png" alt="profile Logo"></button>
            </a>
        </div>
    </nav>
</header>
